
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# BEGIN redirects

Redirect 301 /who-we-are/?$ /about
Redirect 301 /what-we-do/bam/?$ /software/bam
Redirect 301 /what-we-do/user-generated-content/?$ /user-generated-content
Redirect 301 /what-we-do/sales-enablement-tools/?$ /sales-enablement
Redirect 301 /what-we-do/digital-asset-management-software/?$ /digital-asset-management
Redirect 301 /what-we-do/custom-software-solutions/?$ /software/custom-software
Redirect 301 /our-work/?$ /work
Redirect 301 /our-thinking/?$ /blog
Redirect 301 /careers/?$ /contact-us
Redirect 301 /our-thinking/i-am-the-10-9-qualities-that-make-a-good-programmer /2016/10/06/9-qualities-that-make-a-good-programmer/
Redirect 301 /our-thinking/3-keys-for-the-enterprise-realizing-the-promise-of-user-generated-content /2016/10/07/3-keys-for-the-enterprise-realizing-the-promise-of-user-generated-content/
Redirect 301 /our-thinking/wither-thou-goest-pseudorandom-number-generator-best-practices-for-random-number-generation /2016/10/10/best-practices-for-random-number-generation/
Redirect 301 /our-thinking/make-your-channel-sales-team-more-effective-4-benefits-of-sales-enablement-tools /2016/10/12/make-your-channel-sales-team-more-effective-4-benefits-of-sales-enablement-tools/
Redirect 301 /our-thinking/how-to-revolutionize-onboarding-3-benefits-of-employee-generated-content /2016/10/19/how-to-revolutionize-onboarding-3-benefits-of-employee-generated-content/
Redirect 301 /our-thinking/the-problem-with-email-and-5-tools-you-should-be-using-instead /blog/
Redirect 301 /our-thinking/when-is-the-right-time-for-cloud-based-digital-asset-management-dam /2016/10/26/when-is-the-right-time-for-cloud-based-digital-asset-management-dam/
Redirect 301 /our-thinking/quick-and-dirty-shuffle-best-practices-for-programming-randomization /2016/10/31/quick-and-dirty-shuffle-best-practices-for-programming-randomization/
Redirect 301 /our-thinking/4-best-practices-for-sales-enablement-content /2016/11/02/4-best-practices-for-sales-enablement-content/
Redirect 301 /our-thinking/6-more-great-examples-of-brands-leveraging-user-generated-content /2016/11/07/6-more-great-examples-of-brands-leveraging-user-generated-content/
Redirect 301 /our-thinking/how-to-effectively-qa-a-responsive-website /2016/11/08/how-to-effectively-qa-a-responsive-website/
Redirect 301 /our-thinking/why-is-enterprise-not-afraid-of-node-the-case-for-node.js /2016/11/10/why-is-enterprise-not-afraid-of-node-the-case-for-node-js/
Redirect 301 /our-thinking/good-ux-is-good-seo /2016/11/14/good-ux-is-good-seo/
Redirect 301 /our-thinking/the-art-of-obsolescence /2016/11/15/the-art-of-obsolescence/
Redirect 301 /our-thinking/configuring-configurability-in-mobile-apps /2016/11/16/configuring-configurability-in-mobile-apps/
Redirect 301 /our-thinking/pizza-hut-and-the-selfie-stick-agenda /2016/11/17/pizza-hut-and-the-selfie-stick-agenda/
Redirect 301 /our-thinking/language-throwdown-part-1-javascript-vs.-php /2016/11/21/language-throwdown-part-1-javascript-vs-php/
Redirect 301 /our-thinking/virtual-interactivity-and-dunbars-number /2016/11/22/virtual-interactivity-and-dunbars-number/
Redirect 301 /our-thinking/koa-the-internets-latest-warrior /2016/11/30/koa-the-internets-latest-warrior/
Redirect 301 /our-thinking/5-benefits-of-better-onboarding /2016/12/01/5-benefits-of-better-onboarding/
Redirect 301 /our-thinking/dont-be-greedy-6-tips-for-better-regular-expressions /2016/12/05/dont-be-greedy-6-tips-for-better-regular-expressions/
Redirect 301 /our-thinking/5-best-practices-for-onboarding-programs /2016/12/06/5-best-practices-for-onboarding-programs/
Redirect 301 /our-thinking/market-research-easier-than-ever /2016/12/08/market-research-easier-than-ever/
Redirect 301 /our-thinking/sales-enablement-technology-8-insights-from-the-salesforce-state-of-sales /2016/12/12/sales-enablement-technology-8-insights-from-the-salesforce-state-of-sales/
Redirect 301 /our-thinking/an-agency-education-tips-for-a-career-in-the-agency-world /2016/12/14/an-agency-education-tips-for-a-career-in-the-agency-world/
Redirect 301 /our-thinking/book-marketing-done-right /2016/12/16/book-marketing-done-right/
Redirect 301 /our-thinking/what-is-sales-enablement /2016/12/21/what-is-sales-enablement/
Redirect 301 /our-thinking/earning-mindshare-for-your-brand /blog/
Redirect 301 /our-thinking/improving-sales-training-with-sales-enablement-tools /2017/01/18/improving-sales-training-with-sales-enablement-tools/
Redirect 301 /our-thinking/cmo-leadership-putting-your-agencies-to-work-for-you /blog/
Redirect 301 /our-thinking/what-you-can-learn-about-sales-and-marketing-from-a-timeshare-presentation /blog/
Redirect 301 /our-thinking/interactive-shopping-nordstroms-1-macys-0 /blog/
Redirect 301 /our-thinking/the-program-is-dead.-long-live-the-program /blog/
Redirect 301 /our-thinking/how-trade-associations-facilitate-innovation /blog/
Redirect 301 /our-thinking/the-pepsi-strain-viral-cause-marketing-with-social-media-gone-amok /blog/
Redirect 301 /our-thinking/how-you-build-what-you-build-8098 /blog/
Redirect 301 /our-thinking/pop-art-completes-change-of-control-a-fresh-start-for-one-of-americas-first-digital-marketing-agencies-8303 /blog/
Redirect 301 /our-thinking/interactive-shopping-nordstrom-2-macys-2 /blog/
Redirect 301 /our-thinking/use-loyalty-programs-to-improve-your-net-promoter-score /blog/
Redirect 301 /our-thinking/time-management-strategies-for-creatives-8041 /2015/09/20/11-time-management-strategies-for-creatives/
Redirect 301 /our-thinking/b2b-ipad-apps-trends-and-tips-for-successful-projects /2015/11/12/b2b-ipad-apps-trends-and-tips-for-successful-projects/
Redirect 301 /our-thinking/insights-into-consumer-psychology-help-i-cant-decide-which-computer-to-buy /2015/11/30/insights-into-consumer-psychology-help-i-cant-decide-which-computer-to-buy/
Redirect 301 /our-thinking/5-things-about-digital-marketing-that-i-learned-from-visiting-china /2015/12/03/5-things-about-digital-marketing-that-i-learned-from-visiting-china/
Redirect 301 /our-thinking/a-few-of-my-favorite-node-js-interactive-2015-talks-8215 /2015/12/15/6-great-talks-from-node-js-interactive-2015/
Redirect 301 /our-thinking/think-beyond-taps-mobile-gestures-result-in-better-user-experiences-7350	/2016/01/27/think-beyond-taps-mobile-gestures-result-in-better-user-experiences/
Redirect 301 /our-thinking/4-great-examples-of-how-brands-are-leveraging-user-generated-content-8295 /2016/02/29/4-great-examples-of-brands-leveraging-user-generated-content/
Redirect 301 /our-thinking/5-reasons-to-love-open-source-and-1-fair-warning-8320 /2016/03/02/5-reasons-to-love-open-source-and-1-fair-warning/
Redirect 301 /our-thinking/pop-art-honored-as-one-of-100-best-companies-to-work-for-in-oregon-2016-8917 /2016/03/04/pop-art-honored-as-one-of-100-best-companies-to-work-for-in-oregon-2016/
Redirect 301 /our-thinking/the-tower-of-techno-babel-8023 /2016/05/23/the-tower-of-techno-babel/
Redirect 301 /our-thinking/why-your-brand-needs-a-content-strategy /blog/
Redirect 301 /our-thinking/how-your-business-can-use-negative-social-media-to-boost-your-brand /blog/
Redirect 301 /our-thinking/7-reasons-to-use-vue.js /2016/06/02/7-reasons-to-use-vue-js/
Redirect 301 /our-thinking/are-you-paying-too-much-for-marketing-collateral	/2016/06/08/are-you-paying-too-much-for-marketing-collateral/
Redirect 301 /our-thinking/driverless-vehicles-will-save-mankind /2016/08/01/driverless-vehicles-will-save-mankind/
Redirect 301 /our-thinking/4-characteristics-of-the-modern-digital-customer-and-what-it-means-for-your-business	/2016/09/12/4-characteristics-of-the-modern-digital-customer-and-what-it-means-for-your-business/
Redirect 301 /our-thinking/how-user-generated-content-can-improve-seo /2016/09/20/how-to-improve-seo-with-user-generated-content/
Redirect 301 /our-thinking/no-comment /2016/10/03/no-comment-tips-for-commenting-out-code/

# END redirects
