// HERO

#solutionsHero {
	background-position: center center;
	background-size: cover;
	
	height: rem-calc(380);
}

// ACCORDION

.solutions-accordion {
	.accordion-title {
		align-items: center; // Vertically center link text whether on one line or more
		display: flex; // Allow for centering
		
		@include breakpoint(medium) {
			height: rem-calc(90); // Fixed height for larger screens
		}
		
		&:hover,
		&:focus {
			color: $white; // Overwrite default
		}
		
		> span {
			margin: 0 auto; // Center link text horizontally
			max-width: $global-width; // Give max-width to match site width
			padding-right: 2rem; // Padding to give space for +/- element
			width: 100%;
			
			display: block; // Overwrite default span setting
		}
		
		&:before {
			font-size: rem-calc(50);
			text-align: right;
			
			margin-top: -1.5rem;
			margin-right: auto;
			margin-left: auto;
			max-width: $global-width;
			width: calc(100% - 1rem); // Give space for right offset
			
			left: 0;
		}
	}
	
	.is-active > .accordion-title {
		&:before {
			margin-top: -1.75rem; // Different height for '-' element
		}
	}
	
	.accordion-content {
		@include breakpoint(medium) {
			padding: rem-calc(112 0);
		}
		
		a {
			color: get-color(secondary);
			
			&:hover,
			&:focus {
				color: scale-color(get-color(secondary), $lightness: -14%)
			}
		}
	}
	
	p,
	ul,
	img,
	blockquote {
		@include breakpoint(medium) {
			margin-bottom: rem-calc(100);
		}
	}
	
	h3 {
		color: $black;
		font-size: rem-calc(20);
		font-weight: 600;
		text-transform: uppercase;
		
		margin-bottom: 1rem;
	}
	
	img {
		width: 100%;
	}
	
	blockquote {
		border: none; // Overwrite default
		color: get-color(green);
		font-weight: 600;
		
		padding: 0; // Overwrite default
	}
	
	cite {
		color: #636363; // Overwrite default / match <p> color for accordion
		font-style: normal;
		
		margin-top: .5rem;
		
		&:before {
			content: '';
		}
	}
	
	hr {
		border-bottom: 2px solid get-color(green);
		
		margin-left: 0; // Overwrite horizontal center default
		width: 33%;
	}
}

// CONTENT

/*
#pageHome {
	.main-content {
		@include grid-column(12);
		
		text-align: center;
		
		height: 100vh;
		margin: 0 auto;
		
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
		
	h2 {
		font-size: rem-calc(28);
		font-weight: 600;
	}
	
	h5 {
		font-size: rem-calc(28);
		font-weight: 300;
		
		@include breakpoint(large) {
			span {
				display: block; // Hard wrap text for large screens
			}
		}
	}
}

// RECENT PROJECTS

.home-rps {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	h2 {
		text-align: center;
		
		padding: $global-padding ($global-padding / 2);
		width: 100%;
	}
}

.home-rp {
	height: rem-calc(400);
	margin: rem-calc(3) 0; // Designed 6px total space between elements
	width: 100%;
	
	overflow: hidden; // Hide off-element child
	position: relative;
	
	&:hover {
		.home-rp-main {
			top: -100%; // Hide up on hover
		}
		
		.home-rp-hover {
			top: 0; // Show on hover
		}
	}
	
	@include breakpoint(medium) {
		width: calc(50% - #{rem-calc(3)}); // Designed 6px total space between elements
	}
}

.home-rp-main,
.home-rp-hover {
	color: $white;
	
	height: 100%;
	padding: $global-padding;
	width: 100%;
	
	display: flex;
	flex-direction: column; // Children should fill height of element
	justify-content: space-between;
	
	position: absolute;
	left: 0;
	
	transition: 400ms ease-in-out all;
	
	@include breakpoint(medium) {
		padding: $global-padding * 2;
	}
}

.home-rp-main {
	background-position: center center;
	background-size: cover;
	
	top: 0; // Show by default
	
	.home-rp-category {
		text-transform: uppercase;
	}
	
	.home-rp-headline {
		font-size: rem-calc(24);
		font-weight: 600;
		line-height: 1.2;
		
		margin-bottom: 0;
		
		@include breakpoint(large) {
			span {
				display: block; // Hard wrap text for large screens
			}
		}
	}
}

.home-rp-hover {
	top: 100%; // Hide down by default
	
	&.purple {background-color: map-get($foundation-palette, purple);}
	&.green {background-color: map-get($foundation-palette, green);}
	&.blue {background-color: map-get($foundation-palette, blue);}
	&.red {background-color: map-get($foundation-palette, red);}
	
	h3 {
		font-size: rem-calc(16);
		font-weight: 400;
		text-transform: uppercase;
	}
	
	p {
		font-size: rem-calc(18);
	}
	
	a {
		color: $white;
		text-transform: uppercase;
		
		&:hover {
			color: darken($white, 15%);
		}
	}
}

// TWITTER

.home-tw {
	text-align: center;
	
	margin: rem-calc(90) 0;
	
	i {
		color: map-get($foundation-palette, secondary);
		
		margin: $global-padding auto;
		
		display: block;
	}
	
	a {
		color: map-get($foundation-palette, secondary);
	}
}

.home-tw-timestamp {
	letter-spacing: 1px;
	text-transform: uppercase;
	
	display: block;
}

.home-tw-content {
	color: map-get($foundation-palette, gray);
	font-size: rem-calc(28);
	
	margin: ($global-padding * 3) auto;
	
	display: block;
}

// LETS WORK TOGETHER

.home-lwt {
	background: map-get($foundation-palette, secondary);
	color: $white;
	text-align: center;
	
	padding: ($global-padding * 5) 0;
	
	a {
		color: $white;
		font-size: rem-calc(22);
		
		&:hover {
			color: darken($white, 15%);
		}
	}
	
	p {
		font-size: rem-calc(22);
		
		margin-bottom: rem-calc(100);
	}
	
	@include breakpoint(medium) {
		.columns:nth-of-type(2) {
			border-left: 1px solid $white;
		}
	}
	
	h4 {
		font-size: rem-calc(22);
		font-weight: 600;
		text-transform: uppercase;
	}
	
	img {
		margin-bottom: $global-padding * 2;
	}
}

.home-lwt-phone {
	font-size: rem-calc(22);
	font-weight: 300;
	
	display: block;
}
*/
