// HERO

#blogHero {
	background-position: center center;
	background-size: cover;
	color: $black;
	
	height: rem-calc(380);
	margin-bottom: rem-calc(32);
}

// SEARCH

.blog-search {
	@include flex-grid-row();
	
	margin-bottom: $global-padding;
}

// FILTER

.blog-filter {
	@include flex-grid-row();
	
	margin-bottom: rem-calc(32);
	
	ul {
		margin: 0;
		padding: 0;
		
		list-style: none;
		
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	li {
		margin-bottom: $global-padding;
		
		a {
			color: $black;
			font-weight: 600;
			padding: ($global-padding / 4) $global-padding;
		}
			
		&.active {
			a {
				border: 1px solid $black;
				border-radius: $global-padding * .675;
			}
		}
	}
}

// LINKS

#pageBlog {
	.main-content {
		@include flex-grid-row();
	}
	
	.post {
		text-align: center;
		
		@include breakpoint(small only) {
			@include flex-grid-column(12);
			
			margin-bottom: rem-calc(48);
		}
		
		@include breakpoint(medium) {
			@include flex-grid-column(4);
			
			margin-bottom: rem-calc(160);
		}
	}
	
	.blog-post-thumbnail {
		background-position: center center;
		background-size: cover;
		
		margin-bottom: rem-calc(24);
		
		display: block;
		
		&:before {
			content: '';
			display: block;
			padding-top: 75%;
		}
	}
	
	.blog-category {
		color: $dark-gray;
		font-size: rem-calc(14);
		text-transform: uppercase;
		
		margin-bottom: $global-padding / 2;
	}
	
	h2 {
		font-size: rem-calc(18);
		font-weight: 600;
		text-transform: uppercase;
		
		margin-bottom: rem-calc(24);
	}
	
	.entry-content {
		font-size: rem-calc(14);
	}
}

// POST

#singlePost {
	@include breakpoint(medium) {
		justify-content: flex-start;
	}
	
	.sticky-container {
		z-index: -2;
	}
	
	.sticky {
		background: white !important;
		
		&.is-at-top {
			top: rem-calc(80) !important; // Offsets sticky header
		}
	}
	
	.entry-social {		
		margin: 0;
		
		list-style: none;
		
		align-items: center;
		display: flex;
		flex-direction: column;
		
		h6 {
			color: $dark-gray;
			font-size: rem-calc(14);
			font-weight: 600;
			text-transform: uppercase;
			
			margin-bottom: $global-padding;
		}
		
		i {
			color: $dark-gray;
			font-size: rem-calc(24);
			
			margin-bottom: $global-padding;
			
			cursor: pointer;
		}
	}
}

// SUBSCRIBE
	
.blog-subscribe {
	background: $light-gray;
	
	@include breakpoint(small only) {
		padding: $global-padding 0;
	}
	
	@include breakpoint(medium) {
		padding: rem-calc(80) 0;
		
		.columns {
			padding: 0 $global-padding * 3;
		}
	}
	
	h4 {
		font-size: rem-calc(28);
		font-weight: 600;
		
		margin-bottom: $global-padding * 2;
	}
	
	input {
		margin-bottom: $global-padding * 2;
	}
}

// COMMENT

#respond {
	h3 {
		font-size: rem-calc(28);
		font-weight: 600;
	}
	
	textarea {
		min-height: rem-calc(160);
	}
}
