// HERO

#aboutHero {
	background-position: center center;
	background-size: cover;
	
	height: rem-calc(690);
}

// Capabilities

.about-capabilities {
	background: get-color(tertiary);
	color: $light-gray;
	
	@include breakpoint(medium) {
		padding: rem-calc(120) 0;
	}
	
	@include breakpoint(small) {
		padding: $global-padding 0;
	}
	
	> div {
		@include flex-grid-row();
	}
	
	h2 {
		font-size: rem-calc(28);
		
		@include breakpoint(small only) {
			text-align: center;
			
			margin-bottom: $global-padding *2;
		}
		
		@include breakpoint(medium) {
			margin-bottom: $global-padding * 3;
			padding-left: $global-padding * 3; // Aligns to the <li> content while shown
		}
	}
	
	ol {
		list-style: none; // Removes default numbers
		margin: 0; // Removes default spacing
		padding: 0; // Removes default spacing 
		
		@include breakpoint(small only) {
			display: none;
		}
		
		li {
			color: $medium-gray;
			
			padding: ($global-padding / 2) 0;
			
			counter-increment: customlistcounter; // Sets new counter
			
			&:first-of-type {
				counter-reset: customlistcounter; // Starts counter on first <li>
			}
			
			&:before {
				text-align: right;
				
				padding-right: $global-padding * 1.5;
				width: $global-padding * 3;
				
				display: inline-block; // Allows numbers to justify right
				
				content: "0" counter(customlistcounter); // Gives each number a leading '0'
			}
			
			&:hover {
				cursor: pointer;
			}
			
			&.active {
				color: $white;
				font-weight: 600;
				
				&:before {
					color: get-color(secondary);
					font-weight: 400;
				}
			}
		}
	}
}

#aboutCapabilitiesContent {
	@include breakpoint(medium) {
		position: relative;
	}
	
	> div {
		@include breakpoint(small only) {
			border-top: 1px solid get-color(gray);
			
			margin-bottom: $global-padding;
			padding-top: $global-padding;
		}
		
		@include breakpoint(medium) {
			position: absolute;
			
			visibility: hidden;
			opacity: 0;
			transition: visibility 0s, opacity 0.5s linear;
		}
		
		&.active {
			visibility: visible;
			opacity: 1;
		}
	}
	
	img {
		max-width: 100%;
		
		@include breakpoint(medium) {
			margin-bottom: $global-padding * 3;
		}
		
		@include breakpoint(small only) {
			margin: 0 auto ($global-padding * 2);
			
			display: block; // Allow img to center horizontally
		}
	}
	
	h3 {
		color: get-color(secondary);
		font-size: rem-calc(28);
		
		margin-bottom: $global-padding * 1.5;
	}
}

// CONTENT

#pageAbout {
	.main-content {
		@include grid-column(12);
		
		text-align: center;
		
		margin: 0 auto;
		
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	
		@include breakpoint(medium) {
			padding-top: rem-calc(120);
			padding-bottom: rem-calc(120);
		}
		
		@include breakpoint(small only) {
			padding-top: rem-calc(32);
			padding-bottom: rem-calc(32);
		}
		
		h2 {
			font-size: rem-calc(28);
			font-weight: 600;
		}
		
		h5 {
			font-size: rem-calc(20);
			font-weight: 400;
		}
	}
	
	h5 {
		@include breakpoint(large) {
			span {
				display: block; // Hard wrap text for large screens
			}
		}
	}
}

// MANAGEMENT TEAM

.about-management-team {
	background: $medium-gray;
	text-align: center;
	
	@include breakpoint(medium) {
		padding-top: rem-calc(120);
		padding-bottom: rem-calc(120);
	}
	
	@include breakpoint(small only) {
		padding-top: rem-calc(32);
		padding-bottom: rem-calc(32);
	}
		
	h2 {
		font-size: rem-calc(28);
		font-weight: 600;
	}
	
	h5 {
		font-size: rem-calc(18) !important;
		font-weight: 400;
		
		margin-bottom: rem-calc(72);
	}
}

.about-management-team-members {
	@include flex-grid-row();
	
	@include breakpoint(medium) {
		&.active {
			.about-management-team-member {
				opacity: .4;
				
				&.active {
					opacity: 1;
				}
			}
		}
	}
}

.about-management-team-member {
	transition: 150ms ease-in-out all;
	
	img {
		margin: 0 auto $global-padding;
		width: 80%;
	}
	
	h4 {
		font-size: rem-calc(16);
		font-weight: 600;
		text-transform: uppercase;
		
		margin-bottom: $global-padding / 8;
	}
	
	h6 {
		font-size: rem-calc(16);
		font-weight: 300;
		text-transform: uppercase;
	}
	
	@include breakpoint(small only) {
		@include flex-grid-column(10);
	}
	
	@include breakpoint(medium only) {
		@include flex-grid-column(4);
	}
	
	@include breakpoint(medium) {
		order: 1;
		
		cursor: pointer;
	}
	
	@include breakpoint(large) {
		@include flex-grid-column(3);
	}
}

.about-management-team-bio {
	@include flex-grid-column(12);
	
	background: $white;
	font-size: rem-calc(14);
	text-align: left;
	
	transition: 150ms ease-in-out all;
	
	a {
		color: get-color(secondary);
	}
	
	@include breakpoint(small only) {
		margin-bottom: $global-padding * 2;
		padding: ($global-padding * 2) $global-padding 0;
	}
	
	@include breakpoint(medium) {
		margin-top: $global-padding;
		padding: ($global-padding * 3) ($global-padding * 4) 0;
		
		display: none;
		position: relative;
		
		order: 2;
		
		transition: 200ms ease-in-out all;
		
		&.active {
			display: block;
		}
		
		&:before {
			border-color: transparent transparent $white transparent;
			border-style: solid;
			border-width: rem-calc(12);
			
			width: 0;
			height: 0;
			
			content: '';
			position: absolute;
			top: rem-calc(-24);
		}
		
		&[data-name="tom"] {
			&:before {
				left: calc(16.5% - 12px);
			}
		}
		
		&[data-name="ethan"] {
			&:before {
				left: calc(50% - 12px);
			}
		}
		
		&[data-name="noah"] {
			&:before {
				left: calc(83.5% - 12px);
			}
		}
	}
}

// HISTORY

.about-history {
	@include flex-grid-row();
	
	@include breakpoint(small only) {
		padding-top: $global-padding;
		padding-bottom: $global-padding;
	
		h2 {
			margin-bottom: $global-padding;
		}
	}
	
	@include breakpoint(medium) {
		padding-top: $global-padding * 4;
		padding-bottom: $global-padding * 5;
		
		h2 {
			margin-bottom: $global-padding * 3;
		}
	}
	
	h2 {
		font-size: rem-calc(28);
		font-weight: 600;
	}
	
	img {
		margin-bottom: rem-calc(2);
		
		display: block;
		
		&:last-of-type {
			width: 50%;
		}
	}
	
	.blue {
		color: get-color(secondary);
		font-weight: 600;
	}
}

// BLOG STRIP

.about-blog-strip {
	background: get-color(primary);
	color: $white;
	
	.row {
		@include flex-grid-row();
		
		flex-wrap: nowrap;
	}
	
	img {
		flex: 0 0 auto;
	}
	
	p {
		font-size: rem-calc(18);
		text-align: center;
		
		margin-bottom: 0;
		
		flex: 1 1 auto;
	}
	
	a {
		color: $white;
		font-weight: 600;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

// CONTACT

.about-contact {
	@include flex-grid-row();
	
	text-align: center;
	
	padding: ($global-padding * 4) 0;
	
	h2 {
		font-size: rem-calc(28);
		font-weight: 600;
	}
	
	p {
		margin-bottom: $global-padding * 2;
	}
}
