// HERO

#solutionsHero {
	background-position: center center;
	background-size: cover;
	
	height: rem-calc(380);
}

// ACCORDION

.solutions-accordion {
	.accordion {
		margin-bottom: 0; // Overwright default
	}
	
	.accordion-title {
		border-right: none; // Remove border left/right per designer's request
		border-left: none; // Remove border left/right per designer's request
		border-radius: 0 !important; // Overide default
		
		align-items: center; // Vertically center link text whether on one line or more
		display: flex; // Allow for centering
		
		@include breakpoint(medium) {
			height: rem-calc(90); // Fixed height for larger screens
		}
		
		&:hover,
		&:focus {
			color: $white; // Overwrite default
		}
		
		> span {
			margin: 0 auto; // Center link text horizontally
			max-width: $global-width; // Give max-width to match site width
			padding-right: 2rem; // Padding to give space for +/- element
			width: 100%;
			
			display: block; // Overwrite default span setting
			
			@include breakpoint(large) {
				padding-left: 1rem; // Added to mimic left padding of logo per designer's request.
			}
		}
		
		&:before {
			font-size: rem-calc(50);
			text-align: right;
			
			margin-top: -1.5rem;
			margin-right: auto;
			margin-left: auto;
			max-width: $global-width;
			width: calc(100% - 1rem); // Give space for right offset
			
			left: 0;
		}
	}
	
	.is-active > .accordion-title {
		&:before {
			margin-top: -1.75rem; // Different height for '-' element
		}
	}
	
	.accordion-item {
		background: get-color(secondary-dark);
		transition: 1250ms cubic-bezier(0.25, 3, 0.58, 1) all;
		
		&:nth-of-type(1) {transform: translateY(10px);}
		&:nth-of-type(2) {transform: translateY(30px);}
		&:nth-of-type(3) {transform: translateY(60px);}
		&:nth-of-type(4) {transform: translateY(100px);}
		&:nth-of-type(5) {transform: translateY(150px);}
		&:nth-of-type(6) {transform: translateY(210px);}
		
		&.unripple {
			background: transparent;
			transform: translateY(0);
		}
	}
	
	.accordion-content {
		@include breakpoint(medium) {
			padding: rem-calc(112 0);
		}
		
		a {
			color: get-color(secondary);
			
			position: relative;
			
			&:before {
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: "\f105";
				position: absolute;
				top: 1px;
				left: rem-calc(-8);
			}
			
			&:hover,
			&:focus {
				color: scale-color(get-color(secondary), $lightness: -14%)
			}
		}
		
		p,
		ul,
		img,
		blockquote {
			@include breakpoint(medium) {
				margin-bottom: rem-calc(100);
			}
		}
	
		h3 {
			color: $black;
			font-size: rem-calc(20);
			font-weight: 600;
			text-transform: uppercase;
			
			margin-bottom: 1rem;
		}
		
		img {
			max-width: rem-calc(280);
			width: 100%;
		}
		
		blockquote {
			border: none; // Overwrite default
			color: get-color(green);
			font-weight: 600;
			
			padding: 0; // Overwrite default
		}
		
		cite {
			color: #636363; // Overwrite default / match <p> color for accordion
			font-style: normal;
			
			margin-top: .5rem;
			
			&:before {
				content: '';
			}
		}
		
		hr {
			border-bottom: 2px solid get-color(green);
			
			margin-left: 0; // Overwrite horizontal center default
			width: 33%;
		}
	}
}

// FORM

.solutions-form {
	background: $light-gray;
	text-align: center;
	
	padding: $global-padding;
	
	@include breakpoint(medium) {
		padding: rem-calc(50);
	}
	
	> .row {
		background: $white;
		
		padding-top: $global-padding * 2;
		padding-bottom: $global-padding * 2;
		
		@include breakpoint(medium) {
			padding-top: rem-calc(100);
			padding-bottom: rem-calc(100);
		}
	}
	
	h2 {
		font-size: rem-calc(34);
	}
	
	h5 {
		font-size: rem-calc(22);
	}
}

// FORM

.solutions-contact {
	background: get-color(secondary);
	color: $white;
	text-align: center;
	
	.row {
		padding-top: $global-padding * 2;
		padding-bottom: $global-padding * 2;
		
		@include breakpoint(medium) {
			padding-top: rem-calc(100);
			padding-bottom: rem-calc(100);
		}
	}
	
	h2 {
		font-size: rem-calc(28);
		font-weight: 600;
	}
	
	h5 {
		font-size: rem-calc(22);
		
		@include breakpoint(large) {
			span {
				display: block; // Hard wrap text for large screens
			}
		}
	}
	
	.button {
		font-weight: 600;
		
		margin-top: $global-padding;
		
		@include breakpoint(medium) {
			margin-top: $global-padding * 3;
		}
	}
}
	
#issueFormContent {
	margin: $global-padding 0;
	
	align-items: center;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	
	@include breakpoint(medium) {
		margin: rem-calc(50) 0;
	}
	
	> * {
		padding: 0 $global-padding;
	}
	
	span {
		font-size: rem-calc(24);
		font-weight: 600;
		
		@include breakpoint(small only) {
			&:last-of-type {
				display: none;
			}
		}
		
		@include breakpoint(large) {
			font-size: rem-calc(30);
		}
	}
	
	input {
		border-radius: 0;
		border-width: 0 0 1px 0;
		box-shadow: none;
		font-style: italic;
		text-align: center;
		
		margin-bottom: 0;
		
		@include breakpoint(medium) {
			height: auto;
			width: rem-calc(160);
		}
		
		@include breakpoint(large) {
			width: rem-calc(240);
		}
	}
}

#issueFormSubmit {
	align-items: center;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	
	> * {
		@include breakpoint(medium) {
			margin-right: $global-padding / 4;
			margin-left: $global-padding / 4;
		}
	}
	
	input {
		text-align: center;
		
		@include breakpoint(medium) {
			width: rem-calc(180);
		}
	}
	
	.button {
		color: $white;
	}
}
