// HERO

#bamHero,
#customSoftwareHero {
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	
	height: rem-calc(690);
}

// SOFTWARE BREADCRUMBS

.software-breadcrumbs {
	@include flex-grid-row();
	
	font-size: rem-calc(14);
	
	ul {
		margin: 0;
		padding: 0;
		
		list-style: none;
		
		display: flex;
	}
	
	li {
		padding: $global-padding ($global-padding / 4);
	}
	
	a {
		color: $medium-gray;
	}
}

// TESTIMONIAL

.software-testimonial {
	background: #707070;
	color: $white;
	
	padding: ($global-padding * 2) 0 ($global-padding * 4);
	
	.columns {
		@include breakpoint(small only) {
			width: 100%;
		}
	}
	
	img {
		padding: $global-padding / 2;
		width: rem-calc(144);
	}
	
	blockquote {
		border: none;
		color: $white;
		
		margin-bottom: 0;
		
		position: relative;
		
		&:before {
			content: '“';
			position: absolute;
			left: $global-padding / 2;
		}
	}
	
	cite {
		color: $black;
		font-style: normal;
		
		margin-top: $global-padding * 2;
		
		&:before {
			content: none;
		}
	}
}

// CONTENT

.bam-overview {
	background: $light-gray;
	text-align: center;
	
	padding: ($global-padding * 5) 0;
	
	p {
		font-size: rem-calc(18);
		
		@include breakpoint(large) {
			span {
				display: block; // Hard wrap text for large screens
			}
		}
	}
}

#pageBAM {
	.main-content {
		@include grid-column(12);
	}
}

// DAM

.bam-dam {
	text-align: center;
	
	@include breakpoint(small only) {
		padding: ($global-padding * 2) 0;
	}
	
	@include breakpoint(medium) {
		padding: rem-calc(80) 0 rem-calc(112);
	}
	
	h2 {
		font-weight: 600;
		
		margin-bottom: 0;
		
		@include breakpoint(small only) {
			font-size: rem-calc(20);
		}
		
		@include breakpoint(medium) {
			font-size: rem-calc(28);
		}
	}
	
	h4 {
		font-weight: 600;
		
		@include breakpoint(small only) {
			font-size: rem-calc(20);
		}
		
		@include breakpoint(medium) {
			font-size: rem-calc(28);
		}
	}
	
	p {
		font-size: rem-calc(14);
		
		margin-bottom: $global-padding * 2;
		
		@include breakpoint(large) {
			span {
				display: block; // Hard wrap text for large screens
			}
		}
	}
	
	.button {
		color: $white;
		font-size: rem-calc(13);
		font-weight: 700;
		
		&:hover {
			color: $white;
		}
	}
	}

.bam-dam-demo-image {
	img {
		margin: rem-calc(32) auto 0;
		max-width: rem-calc(720);
		width: 100%;
		
		display: none;
		
		&.current {
			display: block;
		}
		
		&:first-of-type {
			margin-bottom: rem-calc(56);
		}
	}
}

.bam-dam-demo-nav {
	display: none;
	
	margin: $global-padding auto 0;
	max-width: rem-calc(720); // Match laptop width
	width: 100%;
	
	&.awake {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		
		@include breakpoint(small only) {
			margin-bottom: $global-padding;
		}
	}
	
	li {
		color: $dark-gray;
		font-weight: 600;
		text-transform: uppercase;
		
		overflow: hidden;
		
		cursor: pointer;
		outline: none;
		
		@include breakpoint(small only) {
			font-size: rem-calc(12);
			text-align: center;
			
			padding: ($global-padding / 4) 0;
			width: calc(100% / 3);
		}
		
		@include breakpoint(medium only) {
			font-size: rem-calc(14);
			text-align: center;
			
			padding: $global-padding;
		}
		
		@include breakpoint(large) {
			font-size: rem-calc(16);
			
			padding: $global-padding;
		}
	
		&.current {
			color: get-color(secondary);
		}
	}
}

.bam-dam-demo-header {
	h4 {
		display: none;
		
		&.current {
			display: block;
		}
	}
}

.bam-dam-demo-content {
	p {
		display: none;
		
		&.current {
			display: block;
		}
	}
}

.bam-dam-demo-buttons {
	font-size: rem-calc(14);
	font-weight: 600;
	
	display: none;
	
	a {
		color: $dark-gray;
		padding: $global-padding $global-padding $global-padding 0;
		
		&:hover {
			color: get-color(secondary);
		}
	}
}

// BENEFITS

.bam-benefits {
	background: get-color(primary);
	color: $white;
	
	padding: rem-calc(90) 0;
	
	h2 {
		font-size: rem-calc(28);
		font-weight: 600;
		text-align: center;
		
		margin-bottom: rem-calc(80);
	}
}

.bam-benefit {
	font-size: rem-calc(14);
	
	margin-bottom: rem-calc(100);
	
	align-items: center;
	display: flex;
	
	img {
		margin-right: $global-padding;
		width: rem-calc(80);
	}
	
	span {
		font-weight: 600;
		text-transform: uppercase;
		
		margin-bottom: $global-padding;
		
		display: block;
	}
	
	small {
		color: $light-gray;
		font-size: rem-calc(14);
		
		display: block;
	}
}

// ENDORESMENT

.bam-endorsement {
	@include flex-grid-row();

	@include breakpoint(small only) {
		padding-top: $global-padding;
		padding-bottom: $global-padding;
	}
	
	@include breakpoint(medium) {
		padding-top: rem-calc(60);
		padding-bottom: rem-calc(60);
	}

	
	h2 {
		font-weight: 600;
		text-align: center;
	
		width: 100%;
		
		@include breakpoint(small only) {
			font-size: rem-calc(20);
			
			margin-bottom: 1rem;
		}
		
		@include breakpoint(medium) {
			font-size: rem-calc(28);
			
			margin-bottom: rem-calc(77);
		}
	}
	
	h4 {
		font-size: rem-calc(18);
		font-weight: 600;
		
		@include breakpoint(small only) {
			text-align: center;
			
			margin-bottom: $global-padding;
		}
		
		@include breakpoint(medium) {
			margin-bottom: rem-calc(48);
		}
	}
	
	p {
		font-size: rem-calc(14);
		
		@include breakpoint(small only) {
			margin-bottom: $global-padding / 2;
		}
		
		@include breakpoint(medium) {
			margin-bottom: $global-padding * 2;
		}
	}
	
	.button {
		color: $white;
		
		@include breakpoint(medium) {
			align-self: flex-start;
		}
		
		&:hover {
			color: $white;
		}
	}
}

.bam-endorsement-image {
	img {
		display: none;
		
		@include breakpoint(medium only) {
			margin-left: calc(-10% - #{rem-calc(40)});
		}
		
		&.current {
			display: block;
		}
		
		&:first-of-type {
			@include breakpoint(small only) {
				margin-bottom: $global-padding;
			}
			
			@include breakpoint(medium) {
				margin-bottom: rem-calc(64);
			}
		}
	}
}

.bam-endorsement-nav {
	display: none;
	
	margin: $global-padding auto 0;
	
	&.awake {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		
		@include breakpoint(small) {
			margin-top: $global-padding / 4;
			margin-bottom: $global-padding / 4;
		}
		
		@include breakpoint(medium only) {
			margin-left: -1rem;
			padding-right: 5rem;
		}
	}
	
	li {
		color: $dark-gray;
		font-weight: 600;
		text-transform: uppercase;
		
		overflow: hidden;
		
		cursor: pointer;
		outline: none;
		
		@include breakpoint(small only) {
			font-size: rem-calc(12);
			text-align: center;
			
			padding: ($global-padding / 4) 0;
		}
		
		@include breakpoint(medium down) {
			width: calc(100% / 3);
		}
		
		@include breakpoint(medium only) {
			font-size: rem-calc(14);
			text-align: center;
			
			padding: $global-padding ($global-padding / 2);
		}
		
		@include breakpoint(large) {
			font-size: rem-calc(16);
			
			padding: $global-padding ($global-padding / 2);
		}
	
		&.current {
			color: get-color(secondary);
		}
	}
}

.bam-endorsement-content {
	@include breakpoint(medium) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	@include breakpoint(large) {
		padding-right: rem-calc(100);
	}
	
	div {
		display: none;
		
		&.current {
			display: block;
		}
	}
}

.bam-endorsement-buttons {
	font-size: rem-calc(14);
	font-weight: 600;
	
	display: none;
	
	max-width: $global-width / 2;
	margin-bottom: rem-calc(18);
	
	@include breakpoint(small only) {
		text-align: center;
	}
	
	a {
		color: $dark-gray;
		padding: $global-padding $global-padding $global-padding 0;
		
		&:hover {
			color: get-color(secondary);
		}
	}
}

// YOU MIGHT LIKE

.blog-might-like {
	background: $light-gray;
	
	@include breakpoint(small only) {
		padding: $global-padding 0;
	}
	
	@include breakpoint(medium only) {
		padding: rem-calc(48) 0;
	}
	
	@include breakpoint(large) {
		padding: rem-calc(106) 0 rem-calc(114);
	}
	
	h3 {
		font-size: rem-calc(28);
		font-weight: 600;
		text-align: center;
		text-transform: capitalize;
		
		@include breakpoint(medium) {
			margin-bottom: rem-calc(78);
		}
	}
	
	a {
		color: $dark-gray;
		text-align: center;
		text-transform: uppercase;
		
		&:hover {
			text-decoration: underline;
		}
	}
		
	.blog-post-thumbnail {
		background-position: center center;
		background-size: cover;
		
		margin-bottom: $global-padding;
		
		display: block;
		
		&:before {
			content: '';
			display: block;
			padding-top: 75%;
		}
	}
	
	p {
		font-size: rem-calc(14);
	}
	
	span {
		font-size: rem-calc(16);
		font-weight: 600;
		
		display: block;
	}
}

// DEMO

#damDemo {
	h1 {
		font-weight: 600;
		text-align: center;
		
		margin-bottom: rem-calc(44);
		
		@include breakpoint(small only) {
			font-size: rem-calc(24);
		}
		
		@include breakpoint(medium only) {
			font-size: rem-calc(36);
		}
		
		@include breakpoint(large) {
			font-size: rem-calc(44);
		}
	}
}

#damDemoSliderNav {
	li {
		color: $dark-gray;
		font-weight: 600;
		text-transform: uppercase;
		
		overflow: hidden;
		
		cursor: pointer;
		outline: none;
		
		@include breakpoint(small only) {
			font-size: rem-calc(12);
			text-align: center;
			
			padding: $global-padding 0;
		}
		
		@include breakpoint(medium only) {
			font-size: rem-calc(14);
			text-align: center;
			
			padding: $global-padding;
		}
		
		@include breakpoint(large) {
			font-size: rem-calc(18);
			
			padding: $global-padding ($global-padding * 2);
		}
		
		span {
			display: inline-block;
			
			opacity: 0;
			transition: 150ms ease-in-out all;
		}
	
		&.slick-current {
			color: get-color(secondary);
			
			span {
				opacity: 1;
			}
		}
	}
}

#damDemoSliderInfo {
	text-align: center;
	
	h4 {
		font-size: rem-calc(22);
		font-weight: 600;
		text-transform: capitalize;
		
		margin-bottom: rem-calc(23);
	}
	
	p {
		color: $dark-gray;
		font-size: rem-calc(14);
		font-weight: 600;
		
		margin-bottom: rem-calc(36);
	}
}

// TILES

.custom-software-tiles {
	@include flex-grid-row();
	
	align-items: center;
}

.custom-software-tile-image {
	@include breakpoint(small only) {
		@include flex-grid-column(12, 0);
		
		margin-bottom: $global-padding * 2;
		
		order: 1;
	}

	@include breakpoint(medium) {
		@include flex-grid-column(6, 0);
	}
	
	img {
		width: 100%;
	}
}

.custom-software-tile-content {
	@include breakpoint(small only) {
		@include flex-grid-column(12);
		
		order: 2;
	}
	
	@include breakpoint(medium only) {
		@include flex-grid-column(6, 4rem);
	}
	
	@include breakpoint(large) {
		@include flex-grid-column(6, 8rem);
	}
	
	h4 {
		font-size: rem-calc(22);
		font-weight: 600;
		
		margin-bottom: rem-calc(22);
	}
}

// PROJECTS

.custom-software-projects {
	@include breakpoint(small only) {
		padding-top: $global-padding;
	}
	
	@include breakpoint(medium) {
		padding-top: rem-calc(90);
	}
	
	@include breakpoint(large) {
		padding-top: rem-calc(125);
	}
	
	h2 {
		font-size: rem-calc(32);
		font-weight: 600;
		text-align: center;
		
		margin-bottom: rem-calc(32);
	}
	
	article {
		@include flex-grid-row();
		
		align-items: center;
		
		@include breakpoint(small only) {
			padding: $global-padding 0;
		}
		
		@include breakpoint(large) {
			height: rem-calc(422);
		}
	}
}

.custom-software-vms-pro {
	background: get-color(secondary);
	color: $white;
}

.custom-software-fst {

}

.custom-software-onboarding-assistant {
	background: get-color(green);
	color: $white;
}

.custom-software-project-image {
	@include breakpoint(small only) {
		margin-bottom: $global-padding;
	}
	
	@include breakpoint(large) {
		@include flex-grid-column(6, 0);
		
		height: 100%;
		
		overflow: hidden;
	}
}

.custom-software-project-content {
	@include breakpoint(medium down) {
		@include flex-grid-column(12);
		
		padding-top: $global-padding;
		padding-bottom: $global-padding;
		
		display: flex;
		flex-direction: column;
	}
	
	@include breakpoint(medium) {
		h4 {
			font-size: rem-calc(22);
			font-weight: 600;
			
			margin-bottom: rem-calc(36);
		}
		
		p {
			margin-bottom: rem-calc(50);
		}
	}
	
	@include breakpoint(large) {
		@include flex-grid-column(6, 8rem);
	}
	
	.button.white {
		@include breakpoint(medium down) {
			align-self: center;
		}
		
		&:hover,
		&:focus {
			border-color: $medium-gray !important;
			color: $medium-gray !important;
		}
	}
}

// BLOG STRIP

.custom-software-blog-strip {
	background: $white;
	box-shadow: 0px 4px 4px 2px rgba($medium-gray,1);
	
	.row {
		flex-wrap: nowrap;
	}
	
	p {
		text-align: center;
		
		margin-bottom: 0;
	}
	
	a {
		@include breakpoint(small only) {
			display: block;
		}
		
		font-weight: 900;
		
		&:hover {
			text-decoration: underline;
		}
	}
}
