// EXAMPLES

.work-examples {
	@include flex-grid-row();
}

.work-example {
	@include breakpoint(small only) {
		@include flex-grid-column(12, 1rem);
		
		padding-top: $global-padding / 2;
		padding-bottom: $global-padding / 2;
	}
	
	@include breakpoint(medium) {	
		@include flex-grid-column(6, 4rem);
	
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	
	@include breakpoint(large) {	
		@include flex-grid-column(6, 100px);
	
		padding-top: rem-calc(50);
		padding-bottom: rem-calc(50);
	}
	
	a {
		color: $black;
		
		&:hover {
			img {
				opacity: .7;
			}
			
			h2,
			p {
				opacity: .5;
			}
		}
		
		> * {
			transition: 500ms ease-in-out all;
		}
		
		img {
			@include breakpoint(small only) {
				margin-bottom: $global-padding;
			}
			
			@include breakpoint(medium) {
				margin-bottom: $global-padding * 3;
			}
			
			@include breakpoint(large) {
				margin-bottom: rem-calc(50);
			}
		}
	
		h2 {
			font-size: rem-calc(24);
			font-weight: 600;
			
			margin-bottom: 0;
		}
		
		p {
			font-size: rem-calc(18);
			color: $medium-gray;
		}
	}
}

// HEADER

$fst-color: #c4d2da; // Gray blue
$dtnahr-com-color: #ecb31c; // Yellow
$hr-assistant-color: #78b67c; // Pale green
$smartsource-color: get-color(tertiary); // Gray
$vms-pro-color: #7fa9d2; // Light blue
$yogi-inspirations-color: get-color(purple); // Purple

.work-example-hero {
	display: flex;
	justify-content: center;
	
	&.fst {
		background: $fst-color;
		
		a {color: $black}
	}
	
	&.dtnahr-com {
		background: $dtnahr-com-color;
		
		a {color: $white}
	}
	
	&.hr-assistant {
		background: $hr-assistant-color;
		
		a {color: $white}
	} 
	
	&.smartsource {
		background: $smartsource-color;
		
		a {color: $white}
	}
	
	&.vms-pro {
		background: $vms-pro-color;
		
		a {color: $black}
	}
	
	&.yogi-inspirations {
		background: $yogi-inspirations-color;
		
		a {color: $white}
	}
	
	&.fst,
	&.dtnahr-com,
	&.hr-assistant,
	&.vms-pro {
		padding: rem-calc(50) 0;
	}
	
	&.smartsource,
	&.yogi-inspirations {
		padding-top: $global-padding;
	}
	
	a {
		font-size: rem-calc(32);
	}
	
	div {
		text-align: center;
		
		max-width: calc(#{$global-width} - 22px - (#{$global-padding} * 2));
		width: 100%;
	}
}

// CONTENT

#pageWorkExample {
	&.fst {}
	&.dtnahr-com {}
	&.hr-assistant {
		blockquote {
			p,
			cite {color: get-color(purple);}
		}
	}
	&.smartsource {
		blockquote {
			p,
			cite {color: $fst-color;}
		}
	}
	&.vms-pro {
		blockquote {
			p,
			cite {color: get-color(green);}
		}
	}
	&.yogi-inspirations {}
	
	.entry-content {
		@include breakpoint(small only) {
			padding: rem-calc(40) 0;
		}
		
		@include breakpoint(medium) {
			padding: rem-calc(80) 0;
		}
		
		h1 {
			font-size: rem-calc(28);
			font-weight: 600;
			text-transform: capitalize;
			
			margin-bottom: $global-padding * 2;
		}
		
		h5 {
			font-size: rem-calc(18);
			font-weight: 600;
			text-transform: uppercase;
			
			margin-bottom: $global-padding;
		}
		
		blockquote {
			border: none;
			font-weight: 600;
			
			@include breakpoint(medium) {
				span {
					display: block;
					
					&:nth-of-type(2) {margin-left: $global-padding * 2;}
					
					&:nth-of-type(3) {margin-left: $global-padding;}
				}
			}
			
			cite {
				margin-top: $global-padding;
				text-align: right;
			}
		}
	}
	
	.blog-might-like {
		background: $white;
		
		a {
			color: $black;
		}
	}
}

// SLIDER

.work-example-slider-container {
	background: $light-gray;
	
	width: 100%;
	
	@include breakpoint(small only) {
		padding: 0 ($global-padding * 2);
	}
	
	@include breakpoint(medium) {
		padding: 0 ($global-padding * 4);
	}
}

.work-example-slider {
	margin: rem-calc(50) auto;
	max-width: 100%;
	width: rem-calc(880);
	
	position: relative;
	
	i {
		color: $black;
		
		cursor: pointer;
		
		position: absolute;
		
		@include breakpoint(small only) {
			font-size: rem-calc(48);
			
			top: calc(50% - #{rem-calc(24)});
		
			&.fa-angle-left {left: rem-calc(-28);}
			
			&.fa-angle-right {right: rem-calc(-28);}
		}
		
		@include breakpoint(medium) {
			font-size: rem-calc(80);
			
			top: calc(50% - #{rem-calc(48)});
		
			&.fa-angle-left {left: rem-calc(-48);}
			
			&.fa-angle-right {right: rem-calc(-48);}
		}
		
		&:hover {
			color: $medium-gray;
		}
	}
}

// DISCIPLINES

.work-example-disciplines {
	background: $light-gray;
	
	margin-top: $global-padding * 2;
	padding: $global-padding * 2;
	
	h4 {
		font-size: rem-calc(18);
		font-weight: 600;
		text-transform: uppercase;
	}
}

// NEXT

.work-example-next {
	
	&.fst {
		background: $fst-color;
	
		a {
			color: $white;
			
			span {color: $black;}
		}
	}
	
	&.dtnahr-com {
		background: $dtnahr-com-color;
	
		a {
			color: $black;
			
			span {color: $white;}
		}
	}
	
	&.hr-assistant {
		background: $hr-assistant-color;
	
		a {
			color: $white;
			
			span {color: $black;}
		}
	} 
	
	&.smartsource {
		background: $smartsource-color;
	
		a {
			color: $white;
			
			span {color: $white;}
		}
	}
	
	&.vms-pro {
		background: $vms-pro-color;
	
		a {
			color: $white;
			
			span {color: $light-gray;}
		}
	}
	
	&.yogi-inspirations {
		background: $yogi-inspirations-color;
	
		a {
			color: $white;
			
			span {color: $white;}
		}
	}
	
	a {
		font-size: rem-calc(20);
		
		padding: ($global-padding * 3) $global-padding $global-padding;
		width: 100%;
		
		display: block;
		
		&:hover {
			text-decoration: underline;
		}
		
		span {
			font-size: rem-calc(14);
			text-transform: uppercase;
		}
	}
}

// BLOG STRIP

.work-blog-strip {
	box-shadow: 0px -4px 4px 2px rgba($medium-gray,1);
	
	.row {
		flex-wrap: nowrap;
	}
	
	p {
		font-size: rem-calc(18);
		text-align: center;
		
		margin-bottom: 0;
	}
	
	a {
		font-weight: 600;
		
		&:hover {
			text-decoration: underline;
		}
	}
}
