// HERO

#homeHero {	
	height: calc(100vh - #{rem-calc(80)}); // Full screen height minus nav height
	
	z-index: -1 !important; // Fixes bug with navigation dropdown

	.vidbg-container {
		position: fixed !important;
		top: 77px;
	}
}

.home-hero-color {	
	background-color: rgba(3, 43, 171, .6); // Overlay video with blue color (custom blue selected for this element to match comp)
	
	height: 100%;
	width: 100%;

	align-items: center; // Center content vertically
	display: flex;
	justify-content: center; // Center content horizontally
}

// CONTENT

#pageHome {
	background: $white;
}

.home-main-content {
	@include flex-grid-column(12);
	
	text-align: center;
	
	height: 100vh;
	margin: 0 auto;
	
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	h2 {
		font-size: rem-calc(28);
		font-weight: 600;
	}
	
	h5 {
		font-size: rem-calc(18);
		font-weight: 300;
		
		@include breakpoint(large) {
			span {
				display: block; // Hard wrap text for large screens
			}
		}
	}
}

// RECENT PROJECTS

.home-rps {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	h2 {
		font-size: rem-calc(28);
		font-weight: 600;
		text-align: center;
		
		padding: $global-padding ($global-padding / 2);
		width: 100%;
	}
}

.home-rp {
	height: rem-calc(400);
	margin: rem-calc(3) 0; // Designed 6px total space between elements
	width: 100%;
	
	overflow: hidden; // Hide off-element child
	position: relative;
	
	&:hover {
		.home-rp-main {
		}
		
		.home-rp-hover {
			opacity: 1; // Show on hover
			
			> * {
				transform: scale(1) translateY(0);
			}
		}
	}
	
	@include breakpoint(medium) {
		width: calc(50% - #{rem-calc(3)}); // Designed 6px total space between elements
	}
}

.home-rp-main,
.home-rp-hover {
	color: $white;
	
	height: 100%;
	padding: $global-padding;
	width: 100%;
	
	display: flex;
	flex-direction: column; // Children should fill height of element
	justify-content: space-between;
	
	position: absolute;
	left: 0;
	
	transition: 400ms ease-in-out all;
	
	@include breakpoint(medium) {
		padding: $global-padding * 2;
	}
}

.home-rp-main {
	background-position: center center;
	background-size: cover;
	
	&.yogi {background-image: url(../images/recent-projects/yogi.jpg)}
	&.onboarding-assist {background-image: url(../images/recent-projects/onboarding_assist.png)}
	&.smartsource {background-image: url(../images/recent-projects/smartsource.png)}
	&.bam {background-image: url(../images/recent-projects/bam.png)}
	
	.home-rp-category {
		text-transform: uppercase;
	}
	
	.home-rp-headline {
		font-size: rem-calc(24);
		font-weight: 600;
		line-height: 1.2;
		
		margin-bottom: 0;
		
		@include breakpoint(large) {
			span {
				display: block; // Hard wrap text for large screens
			}
		}
	}
}

.home-rp-hover {
	opacity: 0; // Hide down by default
	
	&.purple {background-color: get-color(purple);}
	&.green {background-color: get-color(green);}
	&.blue {background-color: get-color(blue);}
	&.red {background-color: get-color(red);}
	
	> * {
		transform: scale(.9) translateY(30%);
		
		transition: 400ms ease-in-out all;
	}
	
	h3 {
		font-size: rem-calc(16);
		font-weight: 400;
		text-transform: uppercase;
	}
	
	a {
		color: $white;
		text-transform: capitalize;
		
		&:hover {
			color: darken($white, 15%);
		}
	}
}

// TWITTER

.home-tw {
	text-align: center;
	
	margin: rem-calc(90) 0;
	
	i {
		color: get-color(secondary);
		
		margin: $global-padding auto;
		
		display: block;
	}
	
	a {
		color: get-color(secondary);
	}
	
	.slick-slider {
		width: 100%;
	}
	
	.slick-slide {
		outline: none;
	}
}

.home-tw-timestamp {
	letter-spacing: 1px;
	text-transform: uppercase;
	
	display: block;
}

.home-tw-content {
	color: get-color(gray);
	font-size: rem-calc(28);
	font-weight: 300;
	
	margin: ($global-padding * 3) auto;
	
	display: block;
}

// LETS WORK TOGETHER

.home-lwt {
	background: get-color(secondary);
	color: $white;
	text-align: center;
	
	@include breakpoint(small only) {
		padding: ($global-padding * 2) 0;
	}
	
	@include breakpoint(medium) {
		padding: ($global-padding * 5) 0;
	}
	
	a {
		color: $white;
		font-size: rem-calc(16);
		
		&:hover {
			color: darken($white, 15%);
		}
	}
	
	p {
		@include breakpoint(medium) {
			margin-bottom: rem-calc(100);
		}
	}
	

	.columns:nth-of-type(2) {
		@include breakpoint(small only) {
			margin-top: 1rem;
		}

		@include breakpoint(medium) {
			border-left: 1px solid $white;
		}
	}
	
	h2 {
		font-size: rem-calc(28);
		font-weight: 600;
		
		margin-bottom: rem-calc(28);
	}
	
	h4 {
		font-size: rem-calc(16);
		font-weight: 600;
		text-transform: uppercase;
	}
	
	img {
		margin-bottom: $global-padding * 2;
	}
}

.home-lwt-phone {
	font-size: rem-calc(16);
	
	display: block;
}
