#single-post {
	padding-top: rem-calc(48);
	
	.entry-title {
		font-size: rem-calc(40);
		font-weight: 600;
	}
	
	.byline {
		margin-bottom: 0;
		
		a {
			color: $black;
			font-weight: 600;
			text-transform: capitalize;
		}
	}
	
	time {
		color: $dark-gray;
		
		margin-bottom: $global-padding * 2;
		
		display: block;
	}
	
	#featured-hero {
		@include breakpoint(small only) {
			margin-bottom: $global-padding * 2;
		}
		
		@include breakpoint(medium) {
			margin-bottom: $global-padding * 6;
		}
	}
	
	.entry-content {
		margin-bottom: rem-calc(100);
	}
	
	.blog-comment {
		background: get-color(gray);
		color: $white;
		
		@include breakpoint(small only) {
			padding: $global-padding 0;
		}
		
		@include breakpoint(medium) {
			padding: rem-calc(80) 0;
		}
		
		label {
			color: $white;
		}
	}
	
	.blog-might-like {
		background: $white;
	}
}
