#footer-container {
	background: map-get($foundation-palette, tertiary);
	
	margin: 0 auto;
	max-width: 100%;
	width: 100%;
	
	.logo {
		margin-left: $global-padding / -2; // Moves logo flush left with copy below
		width: rem-calc(130); // Set size of logo
	}
	
	#footer {
		@include flex-grid-row();
		
		color: $white;
		
		padding: ($global-padding * 3) 0;
		
		.columns:first-of-type {
			padding: 0 ($global-padding / 2); // Differnt padding for logo container
		}
		
		.footer-columns {
			min-width: initial;
			padding-right: $global-padding / 2;
			padding-left: $global-padding / 2;
			
			@include breakpoint(small only) {
				flex: 0 0 50%;
			}
			
			@include breakpoint(medium) {
				flex: 0 0 20%;
			}
		}
		
		h6,
		a {
			font-weight: 600;
		}
		
		ul {
			margin: 0 0 $global-padding; // Added margin to bottom for mobile view
			padding: 0;
			list-style: none;
			
			a {
				color: $medium-gray;
				font-size: rem-calc(14);
			}
		}
		
		.f-privacy {
			font-size: rem-calc(14);
			font-weight: 600;
			
			margin-top: $global-padding * 2;
			
			display: flex;
			justify-content: space-between;
			
			@include breakpoint(small only) {
				flex-direction: column;
			}
			
			a {
				color: $medium-gray;
				padding-left: $global-padding / 2;
			}
		}
	}
}
