// Navigation breakpoints

.desktop-menu, .top-bar-left {
	@include show-for(medium);
}

#mobile-menu, .title-bar {
	@include hide-for(medium);
}

.sticky {
	z-index: 1;
}

.site-header {
	width: 100%;
}

body.blog,
body.single {
	.sticky {
		background: $light-gray !important;
	}
	
	.title-bar {
		background: $light-gray !important;
	}
	
	.top-bar {
		background: $light-gray;
		
		ul {
			background: $light-gray;
		}
	}
}

.top-bar {
	@include breakpoint(medium down) {
		align-content: flex-start;
		flex-direction: column;
	}
	
	@include breakpoint(large) {
		height: calc(#{rem-calc(80)} - 2rem);
		
		align-items: center;
		justify-content: space-between;
	}
}

.menu > li {
	> a {
		transition: 200ms ease-in-out all;
		
		@include breakpoint(medium down) {
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
		}
	}
	
	&.opens-left > .is-dropdown-submenu {
		left: 0 !important;
		right: auto !important;
	}
}

.top-bar-left {
	.menu > li {
		img {
			width: rem-calc(130);
		}
	}
	
	@include breakpoint(large) {
		flex: 0 1 auto !important;
	}
}

.top-bar-right {
	@include breakpoint(medium down) {
		flex: 1 1 auto !important;
	}
	
	&> .menu > li {
		> a {
			color: $black;
			font-weight: 400;
			text-align: center;
			
			width: rem-calc(100);
			
			display: inline-block;
			
			&:hover,
			&:focus, {
				font-weight: 600;
			}
		}
		
		&:last-of-type {
			a:hover {
				color: get-color(primary);
			}
		}
		
		&.current-menu-item,
		&.current-menu-parent {
			> a {
				font-weight: 600;
			}
		}
	}
}

.menu.vertical {
	> li {
		border-bottom: 1px solid $black;
		
		&:last-of-type {
			border-bottom:  none;
		}
		
		&.current-menu-item {
			> a {
				background: $dark-gray;
				color: $white;
			}
		}
		
		> a {
			color: $black;
			font-weight: 300;
			
			&:hover,
			&:focus {
				background: $dark-gray;
				color: $white;
			}
		}
	}
}

.social-nav {
	@include breakpoint(medium down) {
		border-top: 1px solid $black;
		
		width: 100%;
		
		.menu {
			width: 100%;
			
			display: flex;
			justify-content: space-around;
			
			&> li > a {
				padding: 1.5rem 1rem;
			}
		}
	}
	
	@include breakpoint(large) {
		padding-left: $global-padding / 2;
		
		.menu > li > a {
			padding: .7rem .5rem;
		}
	}
	
	.menu > li {
		> a {
			color: $dark-gray;
			
			&:hover,
			&:focus {
				color: map-get($foundation-palette, primary);
			}
		}
	}
}


// Mobile menu

.title-bar-title {
	img {
		width: rem-calc(128);
	}
}

// Tablet and desktop menu
/*
.top-bar {
  .menu .home a {
    font-size: 1rem;
    color: #B9B9B9;
  }

  .menu a {
    height: 45px;
    line-height: 45px;
    color: #e6e6e6;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1;

    &:hover:not(.button) {
      background-color: #42525D;
    }
  }

  .menu .active > a { background-color: lighten($outer-space, 10%); }

  .menu>li:not(.menu-text)>a { padding: 1rem; }
  .menu li:not(:last-child) { border-right: 1px solid #4e4e4e; }

  .dropdown.menu .submenu { border: 0; }
  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }
  .dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after { display: none; }
}

// Basic styles for post navigation. Nicolas Gallagher's "Micro clearfix"
// https://css-tricks.com/snippets/css/clear-fix/
.post-navigation:before,
.post-navigation:after {
  content: "";
  display: table;
}

.post-navigation:after {
  clear:both;
}

.nav-previous { float:left; }
.nav-next { float:right; }
*/
