.cta {
	background: get-color(secondary);
	border-top-right-radius: .25rem; 
	border-top-left-radius: .25rem; 
	color: $white;
	font-size: rem-calc(14);
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	
	padding: rem-calc(10) $global-padding ($global-padding / 2);
	
	position: fixed;
	bottom: 0;
	right: 2rem;
	z-index: 9999;
	
	transition: 200ms ease-in-out all;
	
	&:hover {
		background-color: darken(get-color(secondary), 12%);
		color: $white;
	}
}
